.App {
  text-align: center;
  height: 100vh;
}

.playroom-wrapper{
  background: no-repeat url("assets/fon.jpeg");
  background-size: cover;
  height: 100%;
}

.home-wrapper{
  background: no-repeat url("assets/homepage_fon.jpg");
  background-size: cover;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-wrapper{
  width: 300px;
  height: 330px;
  border: 2px solid #b2a1a9;
  border-radius: 25px;
  background: #cac7ce;
  font-family: Cursive;
}

.form-title{
  font-weight: bold;
  font-size: 44px;
  margin: 10px;
  color: lightcyan;
}

.input-field{
  border: 1px solid lightcyan;
  border-radius: 25px;
  height: 40px;
  width: 80%;
  margin: 10px 0;
  padding-left: 20px;
  outline: none;
}

.start-game-wrapper{
  display: flex;
  justify-content: center;
}

.start-game-btn{
  border: 1px solid lightcyan;
  border-radius: 25px;
  line-height: 80px;
  width: 80%;
  color: white;
  background: teal;
  margin-top: 10px;
  font-size: 35px;
  cursor: pointer;
}

.start-game-btn:hover{
  background: steelblue;
}